html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}




body {
  font-family: "Montserrat";
}




/*! Scroll bar style */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 5px; */
  background: -webkit-gradient(linear, left top, left bottom, from(#cac3c3), to(#1d5b69));
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}

::-webkit-scrollbar-track {
  background-color: #fff;
  background: linear-gradient(to right, #232323, #232323 1px, #1F363D 1px, #1F363D);
}



/*! Nav Hamburger */

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;

}

/* nav toggle */
.nav-toggle {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2.2rem;
  position: fixed;
  top: 2.48rem;
  width: 3.6rem;
  opacity: 0.9;
  z-index: 102;
}

.nav-toggle:hover {
  opacity: 0.8;
}

.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: var(--colorx);
  content: '';
  height: 0.4rem;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}

.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}

.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}

.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}

.nav-toggle.expanded .nav-toggle-bar::after,
.nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #40798C;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}

.nav.expanded {
  left: 0;
  width: 100vw;
  opacity: 0.9;

}

.nav ul {
  position: absolute;
  top: 50%;
  left: calc(50% - 70px);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 7rem;

}

#bg-logo-mobile {
  background-color: #1F363D;
  opacity: .9;
}
#link-logo-mobile {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding: 1rem;
  color: #fff;
font-family: "Ubuntu";
width: fit-content;
width: -moz-fit-content;
-webkit-transition: color 2s; 
transition: color 2s; 
}
#link-logo-mobile:hover {
  color: #EA4B3C;
}
#logo-nav-bar-mobile {
  display: block;
  width: 50px;
  margin: 0 auto;
}




/*! Desktop Nav Bar */
#link-logo {
  left: 2rem;
  position: fixed;
  top: .4rem;
  z-index: 104;
  color: #fff;
  font-family: "Ubuntu";
  line-height: 88.67px;
  display: none;
  font-size: 2rem;
  -webkit-transition: color 2s; 
  transition: color 2s; 
}
#link-logo:hover {
  color: #EA4B3C;
}
#logo-nav-bar {
  width: 4rem;
vertical-align: -30px;
  z-index: 103;
  opacity: 0.9;
  /* display: none; */
  margin-right: .5rem;
}

.nav-desktop {
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: center;
  z-index: 100;
  padding: 2rem 0;
  background-color: #1F363D;
  opacity: 0.9;
  display: none;
}

.nav-desktop ul {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav-desktop li {
  border-bottom: none;
  flex: 1 0 auto;
  text-align: center;
  padding: .5rem 1rem;
}

.nav-desktop li a {
  font-size: 1.3rem;
  color: #fff;
  position: relative;
}

.nav-desktop li a:hover {
  color: #EA4B3C;
}

.nav-desktop li:first-child {
  border-left: none;
}

.nav-desktop li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #EA4B3C;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.nav-desktop li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* logo nav bar */
.logo-image {
  position: absolute;
  top: 50%;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

/* Active links */
.active {
  color: #EA4B3C !important;
}





/*! SVG Logo Style */

#logo-svg {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.cls-1,
.cls-2,
.cls-3 {
  stroke: #000;
  stroke-miterlimit: 10;
}

/* Eyes movement */
.ball {
  width: 15px;
  height: 15px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.eyes {
  position: absolute;
  top: 20%;
  width: 250px;
  text-align: center;
  height: 338.58px;
  display: flex;
  justify-content: center;
}

.eye {
  width: 49px;
  height: 49px;
  background: #000;
  display: inline-block;
  margin: 210px 21px 0 23px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}





/*! Home Header */

.index header {
  background-image: url(../img/winter.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header,
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  flex-direction: column;
}

.logo-title {
  margin: auto;
  font-size: 2.5rem;
  width: 100%;
}

.title {
  padding-top: 1rem;
  width: 100%;
}

.index h1,
.index h2 {
  text-align: center;
  cursor: pointer;
}

.index h1 {
  text-shadow: 0 0 4px #fff, 0 0 2px rgb(105, 160, 173);
  font-weight: 700;
  color: var(--colorx);
  font-size: 2rem;
  padding-bottom: 2rem;
}

.index h2 {

  color: var(--colorx);
  font-size: 1.7rem;
}


/* Animation arrow main header */
@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -60px, 0);
    transform: translate3d(0, -60px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
  }
}


.pointer {
  font-size: 5rem;
  animation: bounce 5s infinite ease-in-out alternate-reverse;
  color: var(--colorx);
}




/*! Main Index */

.index article h3 {
  padding-top: 150px;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.index article p {
  text-align: center;
  font-size: 1rem;
}

.index article div div {
  padding-top: 2rem !important;
}

.index h4,
.projects h4 {
  text-align: center;
  padding-bottom: 1rem;
}


main {
  justify-content: space-between;
  color: var(--colorx);

}

.index article {
  width: 100%;
}


article>div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  padding: 1.5rem;
  border-radius: 20px;
  margin-bottom: 1rem;
}

article div div img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  image-rendering: pixelated;
  padding-bottom: 2rem;
}


.index article div div {
  width: 100%;
  padding: .5rem;
  box-sizing: border-box;

}

.index section h3 {
  font-size: 2rem;
}

section {
  padding: 4rem 2rem 4rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

section button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  background-color: #1F363D;
  color: #fff;
  font-size: 1.2rem;
}

section button:hover {
  background-color: #d65050;

}






/********* PROJECTS PAGE ********/
/*!IMPORTANT Some styles here are applied to all pages */


.projects #hamburger {
  display: block;
}



.projects article h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 3rem;
}

.projects article:nth-of-type(1) {
  margin-top: 50px;
  padding-bottom: 2rem;
}




.projects-main article:nth-of-type(1)>div {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  width: 95%;
}
.projects-main article:nth-of-type(1)>div div {
padding: 0;
margin: 0;
display: grid;
grid-template-columns: 1fr;
grid-template-rows:auto 1fr;
}
.projects-main article:nth-of-type(1)>div h4 {
  text-align: left;
}



.projects article:nth-of-type(2) {
  margin: 50px 0;

}


.projects h4 {

  font-size: 1.5rem;
}

.projects div>div h4 {
  padding-top: 2rem;
}

.projects article {
  width: 100%;
  border: none;
}




.projects article:nth-of-type(1) div div img {
  width: 35px;
  height: auto;
  display: inline-block;
  padding-bottom: 0;
  margin-bottom: 1rem;
  vertical-align: -30px;
}

.php,
.ruby,
.node {
  width: 50px !important;
}
.java {
  vertical-align: -0px;
  width: 28px !important;
}
.python {
  width: 30px !important;
}

.projects article:nth-of-type(2) div div img {
  width: 100%;
  height: auto;
  border: 10px solid #d65050;
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.projects article:nth-of-type(2) div div img:hover {
  border: 10px solid #1F363D;
}

/*? Last item list of tools centered */
/* .tech li:last-child {
  grid-column: 1/3;
  text-align: center;
} */



.projects article div {

  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}

.projects article div a {
  width: 100%;
  padding: 1rem;
}

.projects article div a div {
  width: 100%;
  padding: 0;
  margin-top: 1rem;
}

.projects article p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
}

.projects article ul {
  border-top: 2px solid #EA4B3C;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: .5rem;
}
.projects article:nth-of-type(1) h4 {
  text-align: left;
} 





/********* CONTACT PAGE **********/


/*! contact form */

.contact div section:first-child {
  margin-top: 100px;
  padding: 2rem;
}

.contact div section:last-child {
  padding: 2rem 1rem 4rem 1rem;

}

.contact h3 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.contact section,
.contact form {
  width: 100%;
}

fieldset {
  font: 0.9rem;
  margin: auto;
  width: 100%;
  /* border: 1px solid #EA4B3C; */
  height: fit-content;
  height: -moz-fit-content;

}

/* Distance between elements */
.form div {
  padding: 0px 5%;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: left;
}

/* input text */
input,
textarea {
  display: block;
  border: 1px solid #EA4B3C;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  border-radius: 5px;
}
input:focus, textarea:focus {
  border-radius: 5px;
  border: 1px solid #1d5b69;
  outline: none;
}
/* Text box only vertically resizable */
textarea {
  min-height: 100px;
  max-height: 400px;
  resize: vertical;
}

[placeholder] {
  padding-left: 10px;
  font-size: 0.78rem;
}

/* Button */
[type="submit"] {
  background: #1F363D;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  width: 50%;
  margin: 0 auto;
}

[type="submit"]:hover {
  background-color: #EA4B3C;
  border-radius: 10px;
}

/* textarea text format */
[placeholder="Write your message"] {
  padding-top: 8px;
  font-family: sans-serif;
}




/*! Contact info section */
.contact-data {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  margin: 0 !important;
  padding: 2rem;
  grid-gap: 20px;
  padding-bottom: 5rem;
}

.contact main>h3 {
  padding-bottom: 0;
}

.contact main>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}



/*! Confirmation page, form sent */

.con-confirmation h3 {
  padding-top: 30px;
}

.con-confirmation img {
  width: 100%;
  border-radius: 10px;
}





/****** ABOUT US PAGE *******/


.about article {
  max-width: 90%;
}

.about article p {
 padding: 1rem;
 text-align: justify;
}






/* Team members section */

.members figure img {
  border: 5px solid #EA4B3C;
  width: 200px;
  height: auto;
  border-radius: 50%;
  opacity: .9;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  margin: 2rem auto 0 auto;
}

.member:hover img {
  opacity: 0.3;

}

figcaption {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

.members {
  padding-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.member {
  width: 100%;
  position: relative;
}

.member aside {
  display: flex;
  justify-content: center;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.member:hover aside {
  opacity: 1;
  /* mix-blend-mode: color-dodge; */
}

.member aside a {
  display: block;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.member aside a:first-child {
  margin-right: 2rem;
}

.member aside a:hover {
  color: #EA4B3C;
}

.about main>h3 {
  margin-top: 4rem;
  font-size: 2rem;

}




/******** Parallax section on all pages  **********/

.pax-section {
  color: #EA4B3C;
  font-family: "Ubuntu";
  border-top: 2px solid #EA4B3C;
  border-bottom: 2px solid #EA4B3C;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding: 0;
  margin: 0;

}

.pax-section figure {
  /* object-fit: cover; */
  /* height: 200px; */
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  opacity: 0.7;

}

.pax-section img {
  width: 100% !important;
  z-index: -1;
  height: 50vmin;
  object-fit: cover;

}

.pax-section h3 {
  opacity: .9;
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 0;
  text-transform: uppercase;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  /* -webkit-background-clip: text;
  background-clip: text;
-webkit-text-fill-color: transparent;
background-image: url(../img/conference.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 30%; */
  -webkit-text-stroke: 3px #EA4B3C;
  text-shadow: 0 0 15px #1d5b69;
  font-size: 8vw !important;
}




/********* Footer ***********/


.index article,
.index footer {
  line-height: 1.4rem;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
}

footer {
  letter-spacing: 2.5rem;
  line-height: 3rem !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #1F363D;
  width: 100%;
  padding-top: 2rem;
  opacity: 0.9;
  margin-top: auto;
  align-content: flex-end;
}

footer p,
footer p a {
  margin-top: 40px;
  letter-spacing: 0;
  font-size: 0.8rem;
  width: 100%;
  text-align: center;
  color: #fff;
}

footer p span {
  font-size: 1.2rem;
  vertical-align: -3px;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

footer a:hover {
  color: #d65050;
  display: block;
  animation: pulse 1s ease-in;

}

footer p a:hover {
  display: inline;
  color: #d65050;
  animation: none;
}





/*! Back top button */

.gototop {
  position: fixed;
  display: block;
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  border: none;
  background-color: #EA4B3C;
  border-radius: 3px;
  bottom: 25px;
  right: 25px;
  margin-right: -100px;
  outline: none;
  opacity: 0;
  transition: opacity .3s ease, margin-right .5s ease-out;
  cursor: pointer;
}

.gototop:hover {
  opacity: .8;
}

.visible {
  transition: opacity .3s ease, margin-right .5s ease-out;
  margin-right: 0px;
  opacity: .6;
}

.gototop::before,
.gototop::after {
  content: '';
  position: absolute;
  height: 18px;
  width: 2px;
  background-color: #fff;
  top: 16px;
}

.gototop::before {
  left: 18px;
  transform: rotate(45deg);
}

.gototop::after {
  right: 18px;
  transform: rotate(-45deg);
}




/*! Light & Dark Mode */


html {
  background: var(--backg);
  --btn: #1d5b69;
  --backg: #fff;
  --colorx: #232323;
}

html[data-theme='dartheme'] {
  background: var(--backg);
  --btn: #ea4b3c;
  --backg: #232323;
  --colorx: #fff;
}


.switch input[type=checkbox] {
  visibility: hidden;
  height: 0;
  width: 0;

}


/* Old version of switch */

/* .switch label {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 30px;
  background: var(--btn);
}

.switch label:after {
  border-radius: 50%;
  position: absolute;
  content: '';
  background: #fff;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 4px;
  transition: ease-in-out 200ms;
}

.switch input:checked+.switch label {
  background: #ea4b3c;
}

.switch input:checked+label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
} */

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: ease-in-out 200ms !important;
  transition-delay: 0 !important;
}






.switch {

  overflow: hidden;
  transform: translate3d(-50%, -50%, 0);
  transform: scale(.8);
  position: fixed;
  top: 1.2rem;
  right: 5vw;
  z-index: 101;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}


.toggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 90px;
  height: 50px;
  background-color: #83D8FF;
  border-radius: 84px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  margin: 0;
  padding: 0;
}
.toggle:before {
  content: 'AM';
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 18px;
}
.toggle:after {
  content: 'PM';
  position: absolute;
  right: -48px;
  top: 15px;
  font-size: 18px;
  color: #749ED7;
}

.toggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 3px;
  left: 3px;
  width: 44px;
  height: 44px;
  background-color: #FFCF96;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.toggle__handler .crater {
  position: absolute;
  background-color: #E8CDA5;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}
.toggle__handler .crater--1 {
  top: 18px;
  left: 10px;
  width: 4px;
  height: 4px;
}
.toggle__handler .crater--2 {
  top: 28px;
  left: 22px;
  width: 6px;
  height: 6px;
}
.toggle__handler .crater--3 {
  top: 10px;
  left: 25px;
  width: 8px;
  height: 8px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 10px;
  left: 35px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--2 {
  top: 18px;
  left: 28px;
  z-index: 1;
  width: 30px;
  height: 3px;
}

.star--3 {
  top: 27px;
  left: 40px;
  z-index: 0;
  width: 30px;
  height: 3px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 16px;
  left: 11px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 32px;
  left: 17px;
  z-index: 0;
  width: 3px;
  height: 3px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 36px;
  left: 28px;
  z-index: 0;
  width: 2px;
  height: 2px;
  transform: translate3d(3px, 0, 0);
}

.switch input:checked + .toggle {
  background-color: #749DD6;
}
.switch input:checked + .toggle:before {
  color: #749ED7;
}
.switch input:checked + .toggle:after {
  color: #ffffff;
}
.switch input:checked + .toggle .toggle__handler {
  background-color: #FFE5B5;
  transform: translate3d(40px, 0, 0) rotate(0);
}
.switch input:checked + .toggle .toggle__handler .crater {
  opacity: 1;
}
.switch input:checked + .toggle .star--1 {
  width: 2px;
  height: 2px;
}
.switch input:checked + .toggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}
.switch input:checked + .toggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}
.switch input:checked + .toggle .star--4,
.switch input:checked + .toggle .star--5,
.switch input:checked + .toggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.switch input:checked + .toggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.switch input:checked + .toggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.switch input:checked + .toggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


















/*! Cookies */

#cookieConsent {
  background-color: rgba(20, 20, 20, 0.8);
  min-height: 26px;
  font-size: 14px;
  color: #ccc;
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Ubuntu";
  position: fixed;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

#cookieConsent a {
  color: #EA4B3C;
  text-decoration: none;
}

#closeCookieConsent {
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}

#closeCookieConsent:hover {
  color: #FFF;
}

#cookieConsent a.cookieConsentOK {
  background-color: #1d5b69;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  margin: 0 60px 0 10px;
}

#cookieConsent a.cookieConsentOK:hover {
  background-color: #EA4B3C;
}






/*! Cookies page */

.cookies article {
  width: 90%;
  margin-top: 40px !important;
}

.cookies article p {
  text-align: justify !important;
  padding: 1rem;
}

.cookies h1 {
  margin-top: 0 !important;
  font-size: 2rem;
}


/* strong  {
  font-weight: bold;
} */







/********** MEDIA QUIERIES ************/

@media (min-width: 575.98px) {
  .index article div div {
    width: 50%;
  }

  .projects article div a {
    width: 50%;
  }

  .con-confirmation img {
    width: 70%;
  }

  .member {
    width: 50%;
  }

  .pax-section h3 {
    -webkit-text-stroke: 5px #EA4B3C;
    font-size: 5vw !important;
  }

  .projects-main article:nth-of-type(1)>div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    border-radius: 20px;
    width:100%;
  }
  .projects-main article:nth-of-type(1)>div div {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 992.02px) {
  .index article div div {
    width: 25%;
  }
  .projects #logo-nav-bar{
    display: inline-block;
  }
  .projects #link-logo {
    display: inline;
  }
  
  .projects .nav-desktop {
    display: flex;
  }

  .projects #hamburger {
    display: none;
  }

  .projects article div a {
    width: 25%;
  }

  .con-confirmation img {
    width: 500px;
  }

  .contact main>div {
    flex-direction: row;
  }

  .contact div section {
    width: 50%;
  }

  .contact div section:last-child {
    margin-top: 160px;
    padding: 2rem 6rem 4rem 4rem;
  }

  form {
    width: 70% !important;
  }

  .member {
    width: 33%;
  }
  .about article {
    max-width: 70%;
  }
  #bg-logo-mobile {
    display: none;
  }
  .projects article:nth-of-type(1) {
    margin-top: 150px;
  }
  .cookies article {
    width: 70%;
    margin-top: 150px !important;
  }
  .projects-main article:nth-of-type(1)>div {
    width: 95%;
    padding: 0;

  }
  .projects-main article:nth-of-type(1)>div div {
    width: 31%;
  }
}


@media (max-width: 575.98px) {

  #logo-nav-bar,
  .nav-desktop {
    display: none;
  }

  #logo-svg {
    width: 80%;
  }

  .eyes {
    display: none;
  }

}